@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("NewestNew")
<section class="section">
    <div class="container">
   @await Html.PartialAsync("NewsByCategory");
        </div><!-- end container -->
</section>