@model Team7MVC.Models.ProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

<h2>My Profile</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<table class="table">
    <tr>
        <th>ID</th>
        <td>@Model.ProfileId</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>@Model.ProfileName</td>
    </tr>
</table>

<a asp-action="Edit" class="btn btn-primary">Edit Profile</a>
